<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The Hefei JingTong RDC(Research and Development Centre) Group.
  ~ __________________
  ~
  ~    Copyright 2015-2017
  ~    All Rights Reserved.
  ~
  ~    NOTICE:  All information contained herein is, and remains
  ~    the property of JingTong Company and its suppliers,
  ~    if any.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.user.dao.DepartmentLangMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jtech.toa.user.entity.DepartmentLang">
		<id column="id" property="id" />
		<result column="department" property="department" />
		<result column="lang" property="lang" />
		<result column="name_lang" property="nameLang" />
	</resultMap>
	<delete id="deleteByDeparmentId">
		DELETE FROM absen_org_department_lang WHERE department = #{departmentId}
	</delete>
	<select id="selectByDepartmentId" resultMap="BaseResultMap">
		SELECT id,department,lang,name_lang FROM absen_org_department_lang
		WHERE department = #{departmentId}
	</select>
</mapper>
