<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.prices.PriceSecurityMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jtech.toa.entity.prices.PriceSecurity">
		<id column="int" property="int" />
		<result column="assigner" property="assigner" />
		<result column="assign_time" property="assignTime" />
		<result column="accepter" property="accepter" />
		<result column="area" property="area" />
		<result column="systems" property="systems" />
	</resultMap>
</mapper>
