<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.prices.PriceAssignMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jtech.toa.entity.prices.PriceAssign">
		<id column="id" property="id" />
		<result column="systems" property="systems" />
		<result column="area" property="area" />
		<result column="assign_time" property="assignTime" />
		<result column="assigner" property="assigner" />
	</resultMap>

	<select id="findAssignList" resultType="com.jtech.toa.model.dto.prices.PriceAssignDto">
		SELECT a.*,u.name as assign_name ,s.name AS system_name,d.name AS area_name FROM absen_price_assign a
		LEFT JOIN absen_price_system s ON s.id=a.systems
		LEFT JOIN absen_org_user u ON u.id=a.assigner
		left JOIN absen_org_department d ON d.id=a.area
		WHERE a.systems=#{systems}
	</select>
</mapper>
