/*
 * Copyright © 2015-2017, AnHui Mobiao technology co. LTD Inc. All Rights Reserved.
 */
html{
    overflow-y: auto !important;
}
div.dataTables_paginate ul.pagination {
    margin: 2px 10px;
}

div.dataTables_info {
    float: left;
    margin-left: 10px;
    padding-top: 10px;
}
.text-color-red{
    color:darkred;
}

.text-color-green{
    color: darkgreen;
}
.text-color-yellow{
    color: darkorange;
}

.text-color-blue{
    color: skyblue;
}
.no-padding .dataTables_wrapper table tbody tr:last-child td {
    border-bottom: 1px solid #CCC;
}

table.table-bordered.dataTable {
    border-collapse: collapse !important;
}

table.dataTable thead td, table.dataTable thead th {
    background-color: #eeeeee !important;
}

#main > #content {
    margin-top: 20px !important;
}

.jarviswidget header .btn.btn-primary.btn-xs {
    float: right;
    margin: 5px 8px 0 0;
}

.jarviswidget header .btn.btn-default.btn-xs {
    float: right;
    margin: 5px 8px 0 0;
}

.select2-hidden-accessible {
    display: none !important;
}

.modal-header h5{
    margin:0 !important;
}

.desktop-detected.menu-on-top.pace-done.fixed-header{
    padding-right: 0 !important;
}
.sorting_asc,.sorting_desc {
    background: none !important;
    padding-right: 9px !important;
}
.padding {
    padding-top: 7px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.query-btn {
    padding: 6px 20px;
}
.padding-l {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.padding-left {
    padding-left: 0 !important;
}
.padding7 {
    padding-top: 7px !important;
}
.td-show-s {
    width:250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.td-show-xs {
    width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.miniPic.glyphicon.glyphicon-info-sign.bounce.animated{
    padding-top: 5px;
}
.ml5{
    margin-left: 5px;
}
.mr5 {
     margin-right: 5px;
 }
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.a-link {
    cursor:pointer;
    text-decoration: underline;
}
.td-show-m {
    width:300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.font-important {
    font-weight: 700;
}
/*.table tr td {*/
    /*vertical-align: middle !important;*/
/*}*/
.fnt{
    width:99%;
    /*font-size:11px;*/
    border:1px solid gainsboro;
    padding:5px;
    /*font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;*/
}

.pline{
    height:10px;
    line-height:10px;
    background-color:#FFFFFF;
    color:#000000;
    position:absolute;
    z-index :999;
    margin-top:-10px;
    margin-left:20px;
}
.fnt .text-align-left{
    width: 15%;
}
.fnt .text-align-right{
    width: 10%;
}
.td-display{
    padding: 4px 7px 0 4px !important;
}
table{
    font-size: 12px;
}
td .btn-xs {
    margin-top: 0 !important;
}
.table-center td{
    vertical-align: middle !important;
}
.select2-search-choice-close{
    min-width: 0 !important;
    min-height: 0 !important;
}
.ui-datepicker td {
    padding: 1px !important;
}
.table.table-hover.table-condensed td{
    vertical-align: top !important;
}
.modal-body{
    font-size: 14px;
}
.edit-a {
    color: #666;
}
.edit-a:hover {
    color: #739e73;
}
.edit-price .fa.fa-pencil {
    font-size: 16px;
    padding-top: 5px;
    cursor: pointer;
}
.btn-warning.active {
    color: #fff !important;
    background-color: #c79121 !important;
    border-color: #b1811d !important;
}
/*body.smart-style-6 .jarviswidget>header {*/
    /*border-bottom: 1px solid #C2C2C2;*/
    /*height: 33px;*/
/*}*/
/*body.smart-style-6 .nav-tabs>li.active>a {*/
    /*box-shadow: 0 -2px 0 #E91E63;*/
/*}*/
/*.smart-style-2.menu-on-top aside{*/
    /*color: #3b9ff3!important;*/
/*}*/
/*.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {*/
    /*height: auto;*/
/*}*/
/*.smart-form .checkbox input:checked+i, .smart-form .radio input:checked+i, .smart-form .toggle input:checked+i{*/
    /*border-color: #3276B1 !important;*/
/*}*/
/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{*/
    /*padding: 8px 10px !important;*/
/*}*/
/*#2196F3*/
/*.btn-primary {*/
    /*background-color: #EB880E !important;*/
    /*border-color: #E2B14A !important;*/
/*}*/