<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.ApprovalConfigMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jtech.toa.entity.system.ApprovalConfig">
		<id column="id" property="id" />
		<result column="area" property="area" />
		<result column="approval" property="approval" />
		<result column="condition" property="condition" />
		<result column="auditor" property="auditor" />
		<result column="export" property="export" />
	</resultMap>

</mapper>
