<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.AppVersionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jtech.toa.entity.AppVersion">
		<id column="id" property="id" />
		<result column="type" property="type" />
		<result column="version" property="version" />
		<result column="status" property="status" />
		<result column="update_info" property="updateInfo" />
		<result column="path" property="path" />
		<result column="update" property="update" />
		<result column="must_update" property="mustUpdate" />
	</resultMap>

	<select id="findNewVersionByType" resultMap="BaseResultMap">
		SELECT * FROM app_version WHERE [type] = #{type}
	</select>

</mapper>
