<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The Hefei JingTong RDC(Research and Development Centre) Group.
  ~ __________________
  ~
  ~    Copyright 2015-2017
  ~    All Rights Reserved.
  ~
  ~    NOTICE:  All information contained herein is, and remains
  ~    the property of JingTong Company and its suppliers,
  ~    if any.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.ExhibitionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jtech.toa.entity.system.Exhibition">
		<id column="id" property="id" />
		<result column="img" property="img" />
		<result column="orders" property="orders" />
		<result column="attachment" property="attachment" />
		<result column="url" property="url" />
		<result column="smallint" property="smallint" />
		<result column="type" property="type" />
	</resultMap>
	<select id="selectByType" resultType="com.jtech.toa.model.dto.sys.ExhibitionAppDto">
		SELECT id,image_url as image,orders,url FROM absen_sys_exhibition
		WHERE type = #{type} ORDER BY orders ASC
	</select>

	<select id="selectFourList" resultMap="BaseResultMap">
		SELECT id,img,attachment,orders,url,image_url, [type] FROM absen_sys_exhibition
		ORDER BY type, orders ASC
	</select>
</mapper>
