<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The Hefei JingTong RDC(Research and Development Centre) Group.
  ~ __________________
  ~
  ~    Copyright 2015-2017
  ~    All Rights Reserved.
  ~
  ~    NOTICE:  All information contained herein is, and remains
  ~    the property of JingTong Company and its suppliers,
  ~    if any.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.LogFileMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jtech.toa.entity.file.LogFile">
		<id column="id" property="id" />
		<result column="file" property="file" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="updater" property="updater" />
		<result column="type" property="type" />
		<result column="update_time" property="updateTime" />
		<result column="uploader" property="uploader" />
	</resultMap>

</mapper>
