<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.ParamsMapper">
    <select id="selectParamsByProductId" resultType="com.jtech.toa.entity.product.Params" parameterType="java.lang.Integer">
        SELECT *
        FROM
        absen_product_params
        WHERE product = #{product}
    </select>

    <select id="selectParamsList" resultType="com.jtech.toa.entity.product.Params">
        SELECT *
        FROM
        absen_product_params
    </select>
    <select id="selectByIdAndLang" resultType="com.jtech.toa.entity.product.Params">
        SELECT
        app.id,app.product,ISNULL(appl.control_lang,app.control) control,app.calibration,app.intelligent,app.rigging,app.stack,app.front,
        ISNULL(appl.fix_modual_lang,app.fix_modual) fix_modual,ISNULL(appl.fix_psu, app.fix_psu) fix_psu,app.ip_rating,app.brightness,app.contrast_ratio,
        app.gray_scale,app.refresh,app.viewing,app.power_max,app.power_avg,app.driving_ic,app.driving_type,app.psu,app.psu_power,app.psu_count,app.standard_carry_lower,
        app.standard_carry_high
        FROM absen_product_params app
        LEFT JOIN absen_product_params_lang appl
        ON (app.id = appl.params AND appl.lang = #{lang})
        WHERE app.product = #{id}
    </select>

    <select id="selectTop50List" resultType="com.jtech.toa.entity.product.Params">
        SELECT TOP 50 * FROM absen_product_params WHERE id>#{lastId}
    </select>

    <select id="findAllWithoutParamsLang" resultType="com.jtech.toa.entity.product.Params">
        select * from absen_product_params app where app.id not in
        (
	        select appl.params from absen_product_params_lang appl
        )
    </select>

    <select id="findAllWithoutParamsControlLang" resultType="com.jtech.toa.entity.product.Params">
        SELECT * FROM absen_product_params app
        WHERE NOT EXISTS (
          SELECT 1 FROM absen_product_params_lang appl WHERE app.id=appl.params and appl.lang = 'en' AND appl.control_lang IS NOT NULL
        )
    </select>

    <select id="findAllWithoutParamsFixModualLang" resultType="com.jtech.toa.entity.product.Params">
        SELECT * FROM absen_product_params app
        WHERE NOT EXISTS (
          SELECT 1 FROM absen_product_params_lang appl WHERE app.id=appl.params and appl.lang = 'en' AND appl.fix_modual_lang IS NOT NULL
        )
    </select>

    <select id="findAllWithoutParamsFixPsuLang" resultType="com.jtech.toa.entity.product.Params">
        SELECT * FROM absen_product_params app
        WHERE NOT EXISTS (
          SELECT 1 FROM absen_product_params_lang appl WHERE app.id=appl.params and appl.lang = 'en' AND appl.fix_psu IS NOT NULL
        )
    </select>
</mapper>
