<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The Hefei JingTong RDC(Research and Development Centre) Group.
  ~ __________________
  ~
  ~    Copyright 2015-2017
  ~    All Rights Reserved.
  ~
  ~    NOTICE:  All information contained herein is, and remains
  ~    the property of JingTong Company and its suppliers,
  ~    if any.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.RoleResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jtech.toa.entity.system.RoleResource">
        <id column="id" property="id"/>
        <result column="role" property="role"/>
        <result column="resource" property="resource"/>
    </resultMap>
    <delete id="deleteByRoleId">
		DELETE FROM absen_org_role_resource WHERE role=#{roleId}
	</delete>
    <select id="selectByRoleId" resultMap="BaseResultMap">
		SELECT id,role,resource FROM  absen_org_role_resource WHERE role=#{roleId}
	</select>

    <select id="selectByResourceId" resultMap="BaseResultMap">
        SELECT id,role,resource FROM  absen_org_role_resource WHERE resource=#{resource}
    </select>
</mapper>
