<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The Hefei JingTong RDC(Research and Development Centre) Group.
  ~ __________________
  ~
  ~    Copyright 2015-2017
  ~    All Rights Reserved.
  ~
  ~    NOTICE:  All information contained herein is, and remains
  ~    the property of JingTong Company and its suppliers,
  ~    if any.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtech.toa.dao.RoleUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jtech.toa.entity.system.RoleUser">
        <id column="id" property="id"/>
        <result column="role" property="role"/>
        <result column="users" property="users"/>
    </resultMap>
    <select id="selectByUserId" resultMap="BaseResultMap">
		SELECT id,role,users FROM absen_org_role_user WHERE users = #{userId}
	</select>
    <delete id="deleteByUser">
		DELETE FROM  absen_org_role_user WHERE users = #{userId}
	</delete>

    <select id="selectByRoleId" resultType="Long">
        SELECT
        	aou.id userId
FROM
	absen_org_role_user aoru
INNER JOIN absen_org_role aor ON aor.id = aoru.role
INNER JOIN absen_org_user aou ON aou.id = aoru.users
WHERE aor.id = #{roleId}
    </select>
    <delete id="deleteByRoleId">
        DELETE FROM absen_org_role_user WHERE role = #{roleId}
    </delete>
    <select id="findUserRoleByIdAndRole" resultMap="BaseResultMap">
        SELECT aoru.* FROM absen_org_role_user aoru
        LEFT JOIN absen_org_role aor ON aor.id = aoru.role
        WHERE aoru.users = #{userId} AND aor.name = #{role}
    </select>

    <delete id="deleteByUserIds" >
         DELETE FROM absen_org_role_user WHERE users in
        <foreach item="id" collection="ids" open="("  separator=","  close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
